@tailwind base;
@tailwind components;
@tailwind utilities;

.heading {
    font-family: 'Alfa Slab One', cursive;
  }

.special-text {
    font-family: 'Montserrat Alternates', sans-serif; /* Montserrat Alternates for specific text */
  }  

  .special-text-monda{
    
      font-family: 'Monda', sans-serif;
      color: #D8CFC8;;
    }
    


input{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-left: 10px;
  padding-right: 50px;
  padding-top: 3px;
  padding-bottom: 3px;
  color: black;
  outline-color: gray;
  background-color: rgb(255, 238, 238);
  border: none;
  
}  
.searchbar{
  outline-color: gray;
 
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: rgb(255, 238, 238);

}


.account{
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.forgotpassword{
  font-family: 'Montaga', serif;
}